<div class="container-fluid">
    <div class="row">
        <div class="col-6" *ngIf="userDetail">
            <button (click)="volver()" mat-flat-button color="accent" class="mb-3">
                <mat-icon>arrow_back </mat-icon>
                Volver
            </button>
        
            <mat-card class="card">
                <mat-card-header class="mb-2">
                    <mat-card-title>{{userDetail.name}} {{userDetail.lastName}}</mat-card-title>
                    <mat-card-subtitle>Id: {{userDetail.id}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Trabajo:</strong> {{userDetail.job}}</p>
                    <p><strong>Email:</strong> {{userDetail.email}}</p>
                    <p><strong>Acceso:</strong> {{userDetail.access}}</p>
        
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>