<div class="container-fluid">
    <div class="row">
        <div class="col-6" *ngIf="studentsDetail">
            <button (click)="volver()" mat-flat-button color="accent" class="mb-3">
                <mat-icon>arrow_back </mat-icon>
                Volver
            </button>
        
            <mat-card class="card">
                <mat-card-header  class="mb-2">
                    <mat-card-title>{{studentsDetail.name}} {{studentsDetail.lastName}}</mat-card-title>
                    <mat-card-subtitle>Id: {{studentsDetail.id}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Grado:</strong> {{studentsDetail.grade}}</p>
                    
                    <p><strong>Email:</strong> {{studentsDetail.email}}</p>
        
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>