<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th appTituloGrande mat-header-cell *matHeaderCellDef TituloGrandeDirective> # </th>
        <td mat-cell *matCellDef="let student"> 
            {{student.id}} 
        </td>
    </ng-container>

    <!-- Full name Column -->
    <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
        <td mat-cell *matCellDef="let student"> 
            {{student | fullname}} 
        </td>
    </ng-container>

    <!-- Course Column -->
    <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let student"> 
            {{student.course}} 
        </td>
    </ng-container>

    <!-- Teacher Column -->
    <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef> Profesor </th>
        <td mat-cell *matCellDef="let student"> 
            {{student.teacher}} 
        </td>
    </ng-container>


    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let student"> 
            {{student.email}} 
        </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let student"> 

            <button routerLink="student.id" mat-icon-button color="primary">
                <mat-icon>
                    visibility
                </mat-icon>
            </button>

            <button (click)="editStudent.emit(student.id)" mat-icon-button color="accent">
                <mat-icon>
                    edit
                </mat-icon>
            </button>

            <button (click)="deleteStudent.emit(student.id)" mat-icon-button color="warn">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>