<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Inscripciones</h1>
        </div>
        <div class="col-12">
            <button (click)="addInscription()" mat-flat-button color="accent" class="mb-3">
                <mat-icon>add </mat-icon>
                Agregar inscripción
            </button>
        </div>
        <div class="col-12">
            <app-inscriptions-table 
            ></app-inscriptions-table>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
