<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Usuarios</h1>
        </div>
        <div class="col-12">
            <button (click)="addUser()" mat-flat-button color="accent" class="mb-3">
                <mat-icon>add </mat-icon>
                Crear usuario
            </button>
        </div>
        <div class="col-12">
            <app-users-table 
            [dataSource]="(users$ | async) || []"
            (editUser)="onEditUser($event)" 
            (deleteUser)="onDeleteUser($event)"
            >
        </app-users-table>
        <router-outlet></router-outlet>
        </div>
    </div>

</div>