<mat-drawer-container class="example-container" autosize>

    <!-- SIDEBAR -->
    <mat-drawer 
        [opened]="showSidebar"
        #drawer 
        class="example-sidenav" 
        mode="side">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <div class="example-sidenav-content">

        <!-- TOOLBAR -->
        <mat-toolbar color="primary" class="mb-2 d-flex justify-content-between" appTituloGrande>
            <div class="d-flex align-items-center">
                <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span >Escuela Primaria de Springfield</span>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with school icon">
                    <mat-icon>school</mat-icon>
                </button>
            </div>
            
            <div>
                <span mat-button>{{ (authUser$ | async)?.name }} |</span>
                <button mat-button color="accent" (click)="logout()">Cerrar sesión</button>
            </div>
        </mat-toolbar>
        <!-- TOOLBAR -->

        <router-outlet></router-outlet>
        <!-- USERS -->
        <!-- <app-users></app-users> -->
    </div>
    <!-- CONTENT -->

</mat-drawer-container>